<!DOCTYPE html>
<html>
<head>
    <title>Panpedia</title>
    <!-- Link com o script dos ícones do site Fontawesome -->
    <script src="https://kit.fontawesome.com/9b32426a3d.js" crossorigin="anonymous"></script>
    <!-- Definição do ícone da página -->
    <link rel="short icon" href="/public/images/123.png" type="image/x-icon">
    <!-- Inclusão do arquivo CSS externo -->
    <link rel="stylesheet" type="text/css" href="/public/css/styleResultados.css">
    <!-- Inclusão da biblioteca Jquery externo -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>
    <!-- Inclusão do arquivo Javascript externo -->
    <script src="/public/js/script.js"></script>
</head>
<body>
    <!-- Exibição do menu lateral e definição da função de onClick, usada para exibir ou esconder o menu -->
    <%- include('../atalhos/sidebar')%>
            <!-- Exibição do botão de abrir o side bar e definição da função onClick -->
        <div class="barraMenu">
                <button class="iconeMenu" onclick="abrirNav()"><i class="fa-sharp fa-solid fa-bars fa-2x"></i></button>
        </div>
    <!-- Exibição da header com barra de pesquisa e logo do Panpedia -->
    <%- include('../atalhos/header')%>
    <!-- Exibição dos breadcrumbs, demonstrando o caminho do usuário. -->
    <div class="caminho">
        <a href="/busca/<%=permissao%>">Página Inicial</a>
        <p>></p>
        <a>Busca</a>
    </div>
    <!-- Exibição da lista de filtros -->
    <div class="conteudo">
    <div class="resultados">
    <% if (model.length > 0) { %>
        <% for (const saidas of model) { %>
            <div class="resultadoItem">
                <a href="/busca/<%= permissao %>/saida/0/campos?ID_DADOS_TABELAS=<%= saidas.ID_DADOS_TABELAS%>&TABELA=<%= saidas.TABELA%>"><h2><%= saidas.TABELA %></h2></a>
                <p><%= saidas.CONTEUDO_TABELA %></p>
            </div>
        <% } %>
    <% } else { %>
        <h2>Sem resultados encontrados para sua busca :(</h2>
    <% } %>
    <!-- divide todos os resultados da pesquisa em mais páginas -->
    <% if (model.length > 9) { %>
    <div class="paginacao">
        <% if (limit > 0) { %>
        <form method="get" action=<%= prev %>>
            <button id="pagAnt"><i class="fa-sharp fa-solid fa-chevron-left"></i>Página anterior</button>
        </form>
        <% } %>
        <form method="get" action=<%= next %>>
            <button id="proxPag"></i>Próxima página<i class="fa-sharp fa-solid fa-angle-right"></i></button>
        </form>
    </div>
    <% } %>
    </div>
</div>
</body>
</html>